.root {
  display: flex;
  flex-wrap: wrap; // Ensure the items wrap to the next line
  gap: 10px; // Optional: Add some space between the items
}

.event {
  flex: 1 1 calc(25% - 10px); // Adjust the width to take up 1/4 of the container minus the gap
  margin-top: 60px;
  max-width: calc(25% - 18px); // Ensure the max-width is also set
  position: relative;
  color: black;
  text-decoration: none;
  background-color: #FAFAFA;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 5px;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  p {
    margin: 0;
  }
  margin-bottom: 20px;
}

.title {
  color: #A41930;
}

.image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.dateTime {
  background-color: #F8B500;
  width: fit-content;
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 8px;
  border-radius: 10px;
  &:first-child {
    padding: 0 8px 0 5px;
  }
  span {
    background-color: white;
    padding: 6px 5px;
    border-radius: 7px;
    margin-right: 7px;
  }
}

.btnGroup {
  display: flex;
  justify-content: space-between;
}

.btn {
  background-color: #A31A30;
  color: white;
  width: 45%;
  height: 40px;
  text-decoration: none;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .35s ease-in-out;
  &:hover {
    background-color: #8a1629;
  }
}

.panel {
  display: flex;
  width: 100%;
  justify-content: space-between;
  transform: translateY(-20px);
  align-items: center;
}

.content {
  transform: translateY(-15px);
}

.description {
  max-height: 60px;
  overflow: hidden;
  color: #828282;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* ограничение по количеству строк */
  -webkit-box-orient: vertical;
  white-space: normal;
}
