.root {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 400px;
  height: fit-content;
  width: 100%;
  background-color: white;
  position: relative;
}

.text {
  font-family: 'TT-Norms-Pro-Compact-Regular';
  //width: 60%;
  margin-left: 50%;
  margin-left: 15%;
  font-size: 28px;
  color: #53565A;
}