.root {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 400px;
  width: 100%;
  background-color: white;
  position: relative;
}

.text {
  width: 60%;
  margin-left: 50%;
  font-size: 28px;
}